{% extends "admin/layout.html.twig" %}

{% block nom_page %}

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Gestion de la superette</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>

                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}


{% block body %}
    <div class="container-fluid">




    </div>
{% endblock %}